<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.unbug.autosign.mapper.SignReportMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="SignReportResultMap" type="cn.unbug.autosign.entity.SignReport">
        <result column="id" property="id"/>
        <result column="report_code" property="reportCode"/>
        <result column="record" property="record"/>
        <result column="summary" property="summary"/>
        <result column="superior" property="superior"/>
        <result column="revision" property="revision"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>
</mapper>
